<div class="container">
  <div [hidden] = "productUpdate">
    <h3 style="margin-top: 30px;">Update Product Information<span style="font-size:small">* is a required field</span></h3>

    <form (ngSubmit)="onSubmit()">

      <md-grid-list cols="4" rowHeight="60px">
        <md-grid-tile [colspan] = "4" [rowspan] = "1">
          <md-input-container>
            <input mdInput id="id" type="number" required [(ngModel)] = "product.id" name="id" placeholder="ID" >
          </md-input-container>

        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="4" rowHeight="60px">
        <md-grid-tile [colspan] = "4" [rowspan] = "1">
          <md-input-container>
            <input mdInput id="title" type="text" required [(ngModel)] = "product.title" name="title" placeholder="Title" >
          </md-input-container>
        </md-grid-tile>

        <md-grid-tile [colspan]="4" [rowspan]="1">
          <md-input-container>
            <input mdInput id="addDate" type="date" required [(ngModel)]="product.addDate" name="addDate" placeholder="Add Date">
          </md-input-container>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="4" rowHeight="60px">
        <md-grid-tile [colspan]="2" [rowspan]="1">
          <md-select placeholder="Category" id="category" name="category" [(ngModel)]="product.category">
            <md-option value="Health">Health</md-option>
            <md-option value="Clothing">Clothing</md-option>
            <md-option value="Shoes">Shoes</md-option>
          </md-select>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="4" rowHeight="60px">
        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          <md-input-container>
            <input mdInput id="brand" type="text" required [(ngModel)] = "product.brand" name="brand" placeholder="Brand" >
          </md-input-container>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="4" rowHeight="60px">
        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          <md-input-container>
            <input mdInput id="listPrice" type="number" required [(ngModel)] = "product.listPrice" name="listPrice" placeholder="List Price" >
          </md-input-container>
        </md-grid-tile>
        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          <md-input-container>
            <input mdInput id="ourPrice" type="number" required [(ngModel)] = "product.ourPrice" name="ourPrice" placeholder="Our Price" >
          </md-input-container>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="4" rowHeight="60px">
        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          <md-input-container>
            <input mdInput id="shippingWeight" type="number" step="0.01" required [(ngModel)] = "product.shippingWeight" name="shippingWeight" placeholder="Shipping Weight" >
          </md-input-container>
        </md-grid-tile>
        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          <md-input-container>
            <input mdInput id="shippingFee" type="number" step="0.01" required [(ngModel)] = "product.shippingFee" name="shippingFee" placeholder="Shipping Fee" >
          </md-input-container>
        </md-grid-tile>
      </md-grid-list>

      <md-grid-list cols="4" rowHeight="60px">
        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          <md-input-container>
            <input mdInput id="inStockNumber" type="number" step="0.01" required [(ngModel)] = "product.inStockNumber" name="inStockNumber" placeholder="Numbers in stock" >
          </md-input-container>
        </md-grid-tile>

        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          &nbsp;
          <md-slide-toggle [color]="color" [checked]="checked" [disabled]="disabled" [(ngModel)]="product.active" name="active">
            Active
          </md-slide-toggle>
        </md-grid-tile>
      </md-grid-list>

      <md-input-container>
        <textarea mdInput id="description" [(ngModel)] = "product.description" name="description"></textarea>
      </md-input-container>

      Image &nbsp;
      <input id="title" type="file" id="productImage" name="productImage" (change) = "uploadImageService.fileChangeEvent($event)">
      <br><br>

      <md-grid-list cols="20" rowHeight="60px">
        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          <button class="mat-primary" md-raised-button type="submit" >Update Product</button>
        </md-grid-tile>

        <md-grid-tile [colspan] = "2" [rowspan] = "1">
          <a class="mat-warn" md-raised-button routerLink="/">Cancel</a>
        </md-grid-tile>
      </md-grid-list>

    </form>
  </div>
  <div class="row" [hidden] = "!productUpdate">
    <h3>Product Updated Successfully!</h3>
  </div>
</div>

